@font-face {
    font-family: 'Helvetica Neu';
    src: url('../fonts/Helvetica-BdCn/HelveticaNeueLTStd-BdCn.eot');
    src: url('../fonts/Helvetica-BdCn/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-BdCn/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('../fonts/Helvetica-BdCn/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('../fonts/Helvetica-BdCn/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
        url('../fonts/Helvetica-BdCn/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
    font-weight: bold;
    font-style: normal;
}

