body{
	width: 1366px;
	margin: 0 auto;
}


/*header*/
header{
	height: 100px;
}
.container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 25px 15px;
	margin: 0 auto;
}
.header-nav-ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header-nav-ul-li{
	margin-right: 30px;
	font-size: 27px;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-weight: 200;
}
.logo{
	width: 200px;
	height: 60px;
}
.icon-youtube{
	width: 25px;
	height: 30px;
	color: #3D58A6;
}
.color-icon{
	color: red;
}
.line{
	background-color: #3D58A6;
	width: 2px;
	height: 26px;
}
/*header*/


/*main-picture-section*/
.first-section{
	height: 520px;
	background-color: #E6E6E6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.first-section-picture-div{
	width: 1068px;
	height: 416px;
	background-image: url('../img/computer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.first-section-picture-div p{
	position: absolute;
	font-size: 28px;
	font-family: 'Helvetica Neue LT Std';
	top: 270px;
	left: 60px;
	color: white;
}
/*main-picture-section*/


/*second section*/
.second-section{
	height: 520px;
	background-color: #363E97;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-boxes{
	width: 1170px;
	height: 370px;
}
.div-boxes h2{
	color: white;
	font-size: 18px;
	font-family: Arial;
}
.boxes{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
}
.box{
	width: 570px;
	height: 315px;
	margin-right: 30px;
}
/*second section*/


/*third section*/
.third-section{
	height: 440px;
	background-color: #BDCCD4;
	display: flex;
	justify-content: center;
	align-items: center;
}
.four-div-box h2{
	font-family: Arial;
	font-size: 18px;
}
.child{
	width: 250px;
	height: 240px;
	background-color: white;
	margin-right: 15px;
}
.child:first-child{
	background-image: url(../img/typography.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.child:nth-child(2){
	background-image: url(../img/computerlittle.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.child:nth-child(3){
	background-image: url(../img/man.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.child:last-child{
	background-image: url(../img/design.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.child-p{
	margin-top: 205px;
	text-align: center;
	font-size: 23px;
	color: rgb(63,63,63);
	text-transform: uppercase;
    font-family: 'Chivo', sans-serif;
}
/*third section*/

/*fourth section*/
.fourth-section{
	height: 430px;
	background-color: rgb(230,230,230);
	display: flex;
	justify-content: center;
	align-items: center;
}
.fourth-section-div-boxes{
	width: 1080px;
	height: 370px;
	margin-top: 50px;
}
.fourth-section-div-boxes h2{
	margin-bottom: 25px;
	font-family: Arial;
	font-size: 18px;
}
.fourth-section-boxes{
	display: flex;
	justify-content: center;
	align-items: center;
}
.fourth-section-box{
	width: 510px;
	height: 250px;
	margin-right: 30px;
	background-color: rgb(242,242,242);
	display: flex;
	justify-content: center;
	align-items: center;
}
.fourth-box-div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.fourth-box-div-img{
	width: 90px;
	height: 110px;
	margin-right: 18px;
}
.fourth-box-div p{
	width: 310px; 
	font-size: 18px;
}
/*fourth section*/


/*footer*/
footer{
	height: 60px;
	padding: 10px;
	margin: 0 30px;
}
footer div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
}
footer div p{
	color: rgb(127,127,127);
}
/*footer*/


/*media queries*/
@media only screen and (max-width: 1400px){
	body{
		width: 100%;
	}
}
/*media queries*/






/*page2*/
/*8 div section*/

.first-section-page2{
	background-color: grey;
	padding: 90px;
	
}
/*.eight-div-boxes{
	width: 1300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.childs{
	margin-right: 30px;
}
*/


/*8 div section*/